main.App {
    padding: 20px;
    width: 75%;
    margin: 0 auto;
}

section {
    border-radius: 5px;
    border: .2rem solid #ececec;
    padding: 20px;
    margin: 20px 0;
}

textarea {
    max-width: 100%;
    min-width: 50%;
    max-height: 300px;
    min-height: 100px;
}