main.App {
    text-align: center;
    padding: 20px;
    width: 75%;
    margin: auto;
}

table {
    background-color: white;
}

section {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 10px 10px 27px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 27px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 27px -13px rgba(0, 0, 0, 0.75);
}